{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% macro contact(source, pref, info) %}
<p><b>{{source}}:</b> <a href="{{pref ~ info}}" target="_blank">{{info}}</a></p>
{% endmacro %}

{% block content %}
<h1 class="heading" style="margin-bottom:15px">Contact.</h1>
{{contact('E-mail', 'mailto:', 'ataulnoor75@gmail.com')}}
{{contact('Phone Number', 'tel:', '+1 (513) 582 6809')}}
{{contact('LinkedIn', 'https://www.linkedin.com/in', '/atanoor')}}
{{contact('Github', 'https://www.github.com/', 'atauln')}}
{% endblock %}