{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="main-div col-sm-8 mx-auto">
    <img style="float:right" src="https://skillicons.dev/icons?i=python,java,spring,flask,html,css  ,mysql,linux,docker&theme=light">
    <h1 class="heading">Welcome.</h1>
    <p class="lead" style="margin-top:15px">
        Here you will find the works and ongoings of Ata Noor. I am a software engineering major at the Rochester Institute of Technology.
    </p>
    <p class="lead">
        Please take a look at some of my projects, technologies I have experience with, as well as contact information if you want to reach out to me!
    </p>
    <p class="lead">
        I am currently searching for internship/co-op opportunities for the Summer of 2023.
    </p>
</div>

{% endblock %}